<!-- HOME VIEW -->
<div id="homehome" style="margin-top:20px" class='row'>
     <!-- HOME PAGE LINKS -->
    <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">

     <!-- FRONT IMAGE -->
    <div class="col s6">
        <div class="hide-on-small-only">
            <img class="introimg" src="assets/logo5.png" alt="">
        </div>
    </div>

    <!-- FRONT TEXT -->
    <div style="margin-top:20px;" class="col s12 m6">
        <!-- SITE INTRO -->
        <div class="about">
            <p  class="flow-text introtext">welcome to
                <span  style="color:black" class="brand-logo logo">ask<span id="elfText" style="" class="card">ELF</span></span>
                </br>
                if you stuck in any of your intresting game levels or you want some </br>
                cheat sheet for your favourite game. here you get answer for all your gamming related questions.
            </p>
        </div>

        <!-- LOGIN AND SIGNUP BTN -->
        <div>
            <a href="#!login" id="login" style="background-color:#49274A;color:white;" class="waves-effect waves-light  btn ">Login</a>
            <a href="#!signup" id="signup" style="background-color:#49274A;color:white;" class="waves-effect waves-light  btn right ">Signup</a>
        </div>
    </div>

    <!-- HOME PAGE SCRIPTS -->
    <script>
    $('#login').hide();
    $('#login').fadeIn('slow')
    $('#signup').hide();
    $('#signup').fadeIn('slow')

    window.sr = ScrollReveal({ reset: true });

    sr.reveal('.introimg', {
        duration: 2000,
        origin: 'top',
        distance: '100px'
    });

    sr.reveal('.introtext', {
        duration: 4000,
        origin: 'right',
        distance: '500px'
    });
    </script>
</div>